# Ignore storage folder
/storage

# IgnoretTemporary files
/tmp/

# -----

# Ignore Working files
OLD.*
ORIG.*
TEST.*
BACK.*

# Ignore OSX files
.DS_Store

# Ignore editors and IDE
.idea
.vscode

# Ignore Vim
*.swp

# Ignore Emacs
.#*
